:root {

    /* Font Family */
    --font-family-base:            'Montserrat', sans-serif;
    --font-family-second:          'Nunito Sans', sans-serif;

    /* Font Weight */
    --fw-lighter:         lighter;
    --fw-light:           300;
    --fw-normal:          400;
    --fw-medium:          500;
    --fw-semibold:        600;
    --fw-bold:            700;
    --fw-bolder:          bolder;

    /* Font Size */
    --fs-0:	        0rem;

    --fs-1:	        0.0625rem;
    --fs-2:	        0.125rem;
    --fs-3:	        0.1875rem;
    --fs-4:	        0.25rem;
    --fs-5:	        0.3125rem;
    --fs-6:	        0.375rem;
    --fs-7:	        0.4375rem;
    --fs-8:	        0.5rem;
    --fs-9:	        0.5625rem;
    --fs-10:	    0.625rem;

    --fs-11:	    0.6875rem;
    --fs-12:	    0.75rem;
    --fs-13:	    0.8125rem;
    --fs-14:	    0.875rem;
    --fs-15:	    0.9375rem;
    --fs-16:	    1rem;
    --fs-17:	    1.0625rem;
    --fs-18:	    1.125rem;
    --fs-19:	    1.1875rem;
    --fs-20:	    1.25rem;

    --fs-21:	    1.3125rem;
    --fs-22:	    1.375rem;
    --fs-23:	    1.4375rem;
    --fs-24:	    1.5rem;
    --fs-25:	    1.5625rem;
    --fs-26:	    1.625rem;
    --fs-27:	    1.6875rem;
    --fs-28:	    1.75rem;
    --fs-29:	    1.8125rem;
    --fs-30:	    1.875rem;

    --fs-31:	    1.9375rem;
    --fs-32:	    2rem;
    --fs-33:	    2.0625rem;
    --fs-34:	    2.125rem;
    --fs-35:	    2.1875rem;
    --fs-36:	    2.25rem;
    --fs-37:	    2.3125rem;
    --fs-38:	    2.375rem;
    --fs-39:	    2.4375rem;
    --fs-40:	    2.5rem;

    --fs-41:	    2.5625rem;
    --fs-42:	    2.625rem;
    --fs-43:	    2.6875rem;
    --fs-44:	    2.75rem;
    --fs-45:	    2.8125rem;
    --fs-46:	    2.875rem;
    --fs-47:	    2.9375rem;
    --fs-48:	    3rem;
    --fs-49:	    3.0625rem;
    --fs-50:	    3.125rem;

    --fs-51:	    3.1875rem;
    --fs-52:	    3.25rem;
    --fs-53:	    3.3125rem;
    --fs-54:	    3.375rem;
    --fs-55:	    3.4375rem;
    --fs-56:	    3.5rem;
    --fs-57:	    3.5625rem;
    --fs-58:	    3.625rem;
    --fs-59:	    3.6875rem;
    --fs-60:	    3.75rem;

    --fs-61:	    3.8125rem;
    --fs-62:	    3.875rem;
    --fs-63:	    3.9375rem;
    --fs-64:	    4rem;
    --fs-65:	    4.0625rem;
    --fs-66:	    4.125rem;
    --fs-67:	    4.1875rem;
    --fs-68:	    4.25rem;
    --fs-69:	    4.3125rem;
    --fs-70:	    4.375rem;

    --fs-71:	    4.4375rem;
    --fs-72:	    4.5rem;
    --fs-73:	    4.5625rem;
    --fs-74:	    4.625rem;
    --fs-75:	    4.6875rem;
    --fs-76:	    4.75rem;
    --fs-77:	    4.8125rem;
    --fs-78:	    4.875rem;
    --fs-79:	    4.9375rem;
    --fs-80:	    5rem;

    --fs-81:	    5.063rem;
    --fs-82:	    5.125rem;
    --fs-83:	    5.188rem;
    --fs-84:	    5.25rem;
    --fs-85:	    5.313rem;
    --fs-86:	    5.375rem;
    --fs-87:	    5.438rem;
    --fs-88:	    5.5rem;
    --fs-89:	    5.5625rem;
    --fs-90:	    5.625rem;

    --fs-91:	    5.6875rem;
    --fs-92:	    5.75rem;
    --fs-93:	    5.8125rem;
    --fs-94:	    5.875rem;
    --fs-95:	    5.9375rem;
    --fs-96:	    6rem;
    --fs-97:	    6.0625rem;
    --fs-98:	    6.125rem;
    --fs-99:	    6.1875rem;
    --fs-100:	    6.25rem;


    --fs-128:	    8rem;
    --fs-130:	    8.25rem;
    --fs-140:	    8.75rem;
    --fs-150:	    9.375rem;
    --fs-175:	    10.9375rem;
    --fs-176:	    11rem;
    --fs-190:	    11.875rem;
    --fs-192:	    12rem;

    --fs-200:	    12.5rem;
    --fs-210:	    13.125rem;
    --fs-240:	    15rem;
    --fs-280:	    17.5rem;
    --fs-291:        18.188rem;

    --fs-320:	    20rem;
    --fs-370:	    23.125rem;

    --fs-400:	    25rem;

    --fs-500:	    31.25rem;
    --fs-592:	    37rem;

    --fs-600:	    37.5rem;
    --fs-680:	    42.5rem;

    /* Theme Colors */
    --color-primary:        #f55205;
    --color-secondary:      #720872;
    --color-success:        #00b44b;
    --color-danger:         #c50000;
    --color-warning:        #ffae00;
    --color-info:           #14a0e0;
    --color-white:          #ffffff;
    --color-black:          #000000;
    --color-blue:           #1220a3;
    --color-green:          #17970b;
    --color-red:            #ff0000;
    --color-yellow:         #ffee00; 
    --color-dark:           #230136; 
    --color-muted:          #999999; 

    /* Responsive Breakdown */
    --breakpoint-extralargedesktop: 1400px;
    --breakpoint-largedesktop: 1199px;
    --breakpoint-desktop: 991px;
    --breakpoint-tablet: 767px;
    --breakpoint-mobile: 600px;
    --breakpoint-minimobile: 500px;
}

.mr-0 { 
    margin: 5px;
}
    
/* Margin Left */
.mr-left-5 { 
    margin-left: 5px;
}
.mr-left-10 { 
    margin-left: 10px;
}
.mr-left-15 { 
    margin-left: 15px;
}
.mr-left-20 { 
    margin-left: 20px;
}
.mr-left-25 { 
    margin-left: 25px;
}
.mr-left-30 { 
    margin-left: 30px;
}
.mr-left-35 { 
    margin-left: 35px;
}
.mr-left-40 { 
    margin-left: 40px;
}
.mr-left-45 { 
    margin-left: 45px;
}
.mr-left-50 { 
    margin-left: 50px;
}
.mr-left-55 { 
    margin-left: 55px;
}
.mr-left-60 { 
    margin-left: 60px;
}
.mr-left-65 { 
    margin-left: 65px;
}
.mr-left-70 { 
    margin-left: 70px;
}
.mr-left-75 { 
    margin-left: 75px;
}
.mr-left-80 { 
    margin-left: 80px;
}
.mr-left-85 { 
    margin-left: 85px;
}
.mr-left-90 { 
    margin-left: 90px;
}
.mr-left-95 { 
    margin-left: 95px;
}
.mr-left-100 { 
    margin-left: 100px;
}
    
/* Margin Top */
.mr-top-5 { 
    margin-top: 5px;
}
.mr-top-10 { 
    margin-top: 10px;
}
.mr-top-15 { 
    margin-top: 15px;
}
.mr-top-20 { 
    margin-top: 20px;
}
.mr-top-25 { 
    margin-top: 25px;
}
.mr-top-30 { 
    margin-top: 30px;
}
.mr-top-35 { 
    margin-top: 35px;
}
.mr-top-40 { 
    margin-top: 40px;
}
.mr-top-45 { 
    margin-top: 45px;
}
.mr-top-50 { 
    margin-top: 50px;
}
.mr-top-55 { 
    margin-top: 55px;
}
.mr-top-60 { 
    margin-top: 60px;
}
.mr-top-65 { 
    margin-top: 65px;
}
.mr-top-70 { 
    margin-top: 70px;
}
.mr-top-75 { 
    margin-top: 75px;
}
.mr-top-80 { 
    margin-top: 80px;
}
.mr-top-85 { 
    margin-top: 85px;
}
.mr-top-90 { 
    margin-top: 90px;
}
.mr-top-95 { 
    margin-top: 95px;
}
.mr-top-100 { 
    margin-top: 100px;
}
    
/* Margin Right */
.mr-right-5 { 
    margin-right: 5px;
}
.mr-right-10 { 
    margin-right: 10px;
}
.mr-right-15 { 
    margin-right: 15px;
}
.mr-right-20 { 
    margin-right: 20px;
}
.mr-right-25 { 
    margin-right: 25px;
}
.mr-right-30 { 
    margin-right: 30px;
}
.mr-right-35 { 
    margin-right: 35px;
}
.mr-right-40 { 
    margin-right: 40px;
}
.mr-right-45 { 
    margin-right: 45px;
}
.mr-right-50 { 
    margin-right: 50px;
}
.mr-right-55 { 
    margin-right: 55px;
}
.mr-right-60 { 
    margin-right: 60px;
}
.mr-right-65 { 
    margin-right: 65px;
}
.mr-right-70 { 
    margin-right: 70px;
}
.mr-right-75 { 
    margin-right: 75px;
}
.mr-right-80 { 
    margin-right: 80px;
}
.mr-right-85 { 
    margin-right: 85px;
}
.mr-right-90 { 
    margin-right: 90px;
}
.mr-right-95 { 
    margin-right: 95px;
}
.mr-right-100 { 
    margin-right: 100px;
}
    
/* Margin Bottom */
.mr-bottom-5 { 
    margin-bottom: 5px;
}
.mr-bottom-10 { 
    margin-bottom: 10px;
}
.mr-bottom-15 { 
    margin-bottom: 15px;
}
.mr-bottom-20 { 
    margin-bottom: 20px;
}
.mr-bottom-25 { 
    margin-bottom: 25px;
}
.mr-bottom-30 { 
    margin-bottom: 30px;
}
.mr-bottom-35 { 
    margin-bottom: 35px;
}
.mr-bottom-40 { 
    margin-bottom: 40px;
}
.mr-bottom-45 { 
    margin-bottom: 45px;
}
.mr-bottom-50 { 
    margin-bottom: 50px;
}
.mr-bottom-55 { 
    margin-bottom: 55px;
}
.mr-bottom-60 { 
    margin-bottom: 60px;
}
.mr-bottom-65 { 
    margin-bottom: 65px;
}
.mr-bottom-70 { 
    margin-bottom: 70px;
}
.mr-bottom-75 { 
    margin-bottom: 75px;
}
.mr-bottom-80 { 
    margin-bottom: 80px;
}
.mr-bottom-85 { 
    margin-bottom: 85px;
}
.mr-bottom-90 { 
    margin-bottom: 90px;
}
.mr-bottom-95 { 
    margin-bottom: 95px;
}
.mr-bottom-100 { 
    margin-bottom: 100px;
}
    
    
.pd-0 {
    padding: 0px;
}
    
/* Padding Left */
.pd-left-5 { 
    padding-left: 5px;
}
.pd-left-10 { 
    padding-left: 10px;
}
.pd-left-15 { 
    padding-left: 15px;
}
.pd-left-20 { 
    padding-left: 20px;
}
.pd-left-25 { 
    padding-left: 25px;
}
.pd-left-30 { 
    padding-left: 30px;
}
.pd-left-35 { 
    padding-left: 35px;
}
.pd-left-40 { 
    padding-left: 40px;
}
.pd-left-45 { 
    padding-left: 45px;
}
.pd-left-50 { 
    padding-left: 50px;
}
.pd-left-55 { 
    padding-left: 55px;
}
.pd-left-60 { 
    padding-left: 60px;
}
.pd-left-65 { 
    padding-left: 65px;
}
.pd-left-70 { 
    padding-left: 70px;
}
.pd-left-75 { 
    padding-left: 75px;
}
.pd-left-80 { 
    padding-left: 80px;
}
.pd-left-85 { 
    padding-left: 85px;
}
.pd-left-90 { 
    padding-left: 90px;
}
.pd-left-95 { 
    padding-left: 95px;
}
.pd-left-100 { 
    padding-left: 100px;
}
    
/* Padding Top */
.pd-top-5 { 
    padding-top: 5px;
}
.pd-top-10 { 
    padding-top: 10px;
}
.pd-top-15 { 
    padding-top: 15px;
}
.pd-top-20 { 
    padding-top: 20px;
}
.pd-top-25 { 
    padding-top: 25px;
}
.pd-top-30 { 
    padding-top: 30px;
}
.pd-top-35 { 
    padding-top: 35px;
}
.pd-top-40 { 
    padding-top: 40px;
}
.pd-top-45 { 
    padding-top: 45px;
}
.pd-top-50 { 
    padding-top: 50px;
}
.pd-top-55 { 
    padding-top: 55px;
}
.pd-top-60 { 
    padding-top: 60px;
}
.pd-top-65 { 
    padding-top: 65px;
}
.pd-top-70 { 
    padding-top: 70px;
}
.pd-top-75 { 
    padding-top: 75px;
}
.pd-top-80 { 
    padding-top: 80px;
}
.pd-top-85 { 
    padding-top: 85px;
}
.pd-top-90 { 
    padding-top: 90px;
}
.pd-top-95 { 
    padding-top: 95px;
}
.pd-top-100 { 
    padding-top: 100px;
}
    
/* Padding Right */
.pd-right-5 { 
    padding-right: 5px;
}
.pd-right-10 { 
    padding-right: 10px;
}
.pd-right-15 { 
    padding-right: 15px;
}
.pd-right-20 { 
    padding-right: 20px;
}
.pd-right-25 { 
    padding-right: 25px;
}
.pd-right-30 { 
    padding-right: 30px;
}
.pd-right-35 { 
    padding-right: 35px;
}
.pd-right-40 { 
    padding-right: 40px;
}
.pd-right-45 { 
    padding-right: 45px;
}
.pd-right-50 { 
    padding-right: 50px;
}
.pd-right-55 { 
    padding-right: 55px;
}
.pd-right-60 { 
    padding-right: 60px;
}
.pd-right-65 { 
    padding-right: 65px;
}
.pd-right-70 { 
    padding-right: 70px;
}
.pd-right-75 { 
    padding-right: 75px;
}
.pd-right-80 { 
    padding-right: 80px;
}
.pd-right-85 { 
    padding-right: 85px;
}
.pd-right-90 { 
    padding-right: 90px;
}
.pd-right-95 { 
    padding-right: 95px;
}
.pd-right-100 { 
    padding-right: 100px;
}
    
/* Padding Bottom */
.pd-bottom-5 { 
    padding-bottom: 5px;
}
.pd-bottom-10 { 
    padding-bottom: 10px;
}
.pd-bottom-15 { 
    padding-bottom: 15px;
}
.pd-bottom-20 { 
    padding-bottom: 20px;
}
.pd-bottom-25 { 
    padding-bottom: 25px;
}
.pd-bottom-30 { 
    padding-bottom: 30px;
}
.pd-bottom-35 { 
    padding-bottom: 35px;
}
.pd-bottom-40 { 
    padding-bottom: 40px;
}
.pd-bottom-45 { 
    padding-bottom: 45px;
}
.pd-bottom-50 { 
    padding-bottom: 50px;
}
.pd-bottom-55 { 
    padding-bottom: 55px;
}
.pd-bottom-60 { 
    padding-bottom: 60px;
}
.pd-bottom-65 { 
    padding-bottom: 65px;
}
.pd-bottom-70 { 
    padding-bottom: 70px;
}
.pd-bottom-75 { 
    padding-bottom: 75px;
}
.pd-bottom-80 { 
    padding-bottom: 80px;
}
.pd-bottom-85 { 
    padding-bottom: 85px;
}
.pd-bottom-90 { 
    padding-bottom: 90px;
}
.pd-bottom-95 { 
    padding-bottom: 95px;
}
.pd-bottom-100 { 
    padding-bottom: 100px;
}


/* Reset */
html {
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
    position: relative;
    font-family: var(--font-family-base);
    color: var(--color-black);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	transition: all 0.5s ease-in-out;
    font-size: var(--fs-16);
    line-height: var(--fs-26);
}

.container {
    position: relative;
}
.container-fluid, .container-lg, .container-xl, .container-xxl {
    max-width: 1920px;
}

/* min-width: 1600px */
@media screen and (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}
/* min-width: 1200px */
@media screen and (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}
/* min-width: 1199px */
@media screen and (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
}
main,
.wrapper {
    position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-base);
    font-weight: var(--fw-bold);
    margin-top: 0px;
    margin-bottom: 0px;
}

.h1, h1{
    font-size: var(--fs-48);
    /* line-height: var(--fs-52); */ /* set "line-height" based on "font-family" */
}
.h2, h2{
    font-size: var(--fs-36);
    /* line-height: var(--fs-52); */ /* set "line-height" based on "font-family" */
}
.h3, h3{
    font-size: var(--fs-30);
    /* line-height: var(--fs-52); */ /* set "line-height" based on "font-family" */
}
.h4, h4{
    font-size: var(--fs-24);
    /* line-height: var(--fs-52); */ /* set "line-height" based on "font-family" */
}
.h5, h5{
    font-size: var(--fs-20);
    /* line-height: var(--fs-52); */ /* set "line-height" based on "font-family" */
}
.h6, h6{
    font-size: var(--fs-16);
    /* line-height: var(--fs-52); */ /* set "line-height" based on "font-family" */
}

a{
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    outline: none;
}
a:hover{
    color: var(--color-black);
    text-decoration: none;
    outline: none;
}

.clearfix{
    clear: both;
}
.divider{
    margin: 30px 0px;
    display: inline-block;
}
table {
    margin-bottom: 10px;
    border: 1px solid rgba(var(--color-black), 0.3);
}
table td, table th {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(var(--color-black), 0.3);
    border-right: 1px solid rgba(var(--color-black), 0.3);
    text-align: center;
}
img{
    max-width: 100%;
}

.section, section{
    position: relative;
    padding: 100px 0px;
    z-index: 1;
}


/* Default Input type */
select,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"]{
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 30px;
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
    background-color: var(--color-white);
    color: var(--color-dark);
    background-clip: padding-box;
    border: 1px solid var(--color-dark);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
}
textarea.form-control{
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px 40px;
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
    background-color: var(--color-white);
    color: var(--color-dark);
    background-clip: padding-box;
    border: 1px solid var(--color-dark);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea.form-control:focus{
    border-color: var(--color-primary);
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

label {
    display: inline-block;
    color: var(--color-black);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}

::-webkit-input-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
::-moz-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
:-ms-input-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
:-moz-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
:placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}


/* Pagination */
.pagination {
    margin-top: 30px;
    margin-bottom: 0px;
    list-style-type: none;
    align-items: center;
}
.pagination li {
    margin: 0px 5px;
    color: var(--color-white);
}
.pagination li .page-number {
    font-size: var(--fs-20);
    font-weight: var(--fw-normal);
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: var(--color-white);
    display: block;
    border-radius: 100%;
    border: 1px solid transparent;
}
.pagination li .page-number:hover, .pagination li .page-number.current {
    border: 1px solid var(--color-primary);
}
.pagination li .page-number.previous, .pagination li .page-number.next {
    color: var(--color-primary);
}
.pagination li .page-number.disabled {
    cursor: auto;
    opacity: 0.5;
}

/* Use this markup based on above css */
/* <ul class="pagination">
    <li><a class="disabled page-number previous" href="#"><i class="ion-ios-arrow-thin-left"></i></a></li>
    <li><span class="page-number current">1</span></li>
    <li><a class="page-number" href="#">2</a></li>
    <li>.....</li>
    <li><a class="page-number" href="#">9</a></li>
    <li><a class="page-number next" href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
</ul> */


/* Button Style */
.btn-group{
    position: relative;
    z-index: 1;
    display: block;
}

/* Button One */
.btn{
    position: relative;
    width: auto;
    display: inline-block;
    font-family: var(--font-family-base);
    font-size: var(--fs-14); 
    font-weight: var(--fw-medium);
    line-height: var(--fs-16);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    padding: 12px 30px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 0px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: rgba(var(--color-black), 0.5);
}


/* Button Two */
.btn-2 {
    position: relative;
    width: auto;
    display: inline-block;
    font-family: var(--font-family-base);
    font-size: var(--fs-14); 
    font-weight: var(--fw-medium);
    line-height: var(--fs-16);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    padding: 12px 30px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 0px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn-2::before,
.btn-2::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.btn-2::before {
    top: 0;
    left: 0;
}
.btn-2::after {
    bottom: 0;
    right: 0;
}
.btn-2:hover::before,
.btn-2:hover::after {
    width: 100%;
    height: 100%;
}
.btn-2:hover::before {
    border-top-color: var(--color-primary);
    border-right-color: var(--color-primary);
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}
.btn-2:hover::after {
    border-bottom-color: var(--color-primary);
    border-left-color: var(--color-primary);
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}