/*===================
   Banner Styles 
  ===================*/

.heading-text {
  color: white;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0.015em;
}
.pre-heading {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: white;
  background-color: #07847f;
  padding: 17px 13px 0 13px;
  border-radius: 5px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.banner-btn {
  background-color: #fe7f4c;
  color: white;
  padding: 20px 45px;
  margin-right: 29px;
}
.banner-anchor {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-decoration: underline;
  padding: 20px 0;
}

.banner-img {
  height: 100%;
  margin-top: 218px;
}

.paragraph-text {
  color: #677788;
}

.banner-bg {
  background-image: url(../images/banner/banner-bg.png);
}

.banner-content {
  padding: 168px 0;
}

/*===================
   Course Styles 
  ===================*/

.course-separator {
  background-image: url(../images/category/course-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 47px;
  border-radius: 10px;
}
.course-separator h5 {
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-right: 5px;
  /* line-height: 36px; */
}

.course-separator .start-btn {
  color: #49d2af;
  background-color: white;
  padding: 20px 38px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.start-btn p {
  letter-spacing: 0.015em;
  line-height: 20px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 19px; */
}
