/*===================
   Banner Styles 
  ===================*/

.heading-text {
  color: white;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0.015em;
}
.pre-heading {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: white;
  background-color: #07847f;
  padding: 17px 13px 0 13px;
  border-radius: 5px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.banner-btn {
  background-color: #fe7f4c;
  color: white;
  padding: 20px 45px;
  margin-right: 29px;
}
.banner-anchor {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-decoration: underline;
  padding: 20px 0;
}

.banner-img {
  height: 100%;
  margin-top: 218px;
}

.paragraph-text {
  color: #677788;
}

.banner-bg {
  background-image: url(../images/banner/banner-bg.png);
}

.banner-content {
  padding: 168px 0;
}

/*===================
   Top-Course Styles 
  ===================*/

.course-separator {
  background-image: url(../images/category/course-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 47px;
  border-radius: 10px;
}
.course-separator h5 {
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-right: 5px;
  /* line-height: 36px; */
}

.course-separator .start-btn {
  color: #49d2af;
  background-color: white;
  padding: 20px 38px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.start-btn p {
  letter-spacing: 0.015em;
  line-height: 20px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.top-course,
.testimonial-upper {
  text-align: center;
  margin-bottom: 30px;
}

.top-course span,
.course span,
.offer span,
.instructor span,
.newsletter span,
.testimonial-upper span {
  display: inline-block;
  padding: 5px 17px;
  background-color: #ff7b66;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.055em;
  border-radius: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.top-course h2,
.course h2,
.offer h2,
.instructor h2,
.testimonial-upper h2 {
  color: #1d1d1d;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
}

.top-course-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #505050;
}

.course-div {
  padding: 30px 58px 40px 40px;
  border-radius: 10px;
  margin: 0 30px 29px 0;
  border: 1px solid #ececec;
}
.course-div:hover,
.categoty-div:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.course-tag {
  margin-bottom: 8px;
}

.course-tag span {
  font-weight: 700;
  font-size: 12px;
  line-height: 34px;
  margin-right: 10px;
  border-radius: 2px;
}

.web {
  color: #4ad3b0;
  background-color: #edfbf7;
  padding: 4px 15px;
}

.html {
  color: #ff7b66;
  background-color: #fff2f0;
  padding: 4px 13px;
}

.card-title {
  margin-bottom: 15px;
  color: #1d1d1d;
}

.card-title:hover {
  color: #6e7cef;
}
.course-div .card-body {
  margin-left: 30px;
}

.course-img {
  width: 100%;
}

.top-course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-price {
  color: #6f7df0;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  margin-right: 28px;
  letter-spacing: -0.035em;
}
.star {
  width: 14px;
  color: #ffc014;
  margin-right: 2px;
}

.top-course-rating {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #9795a9;
}

/*=========================
   Fun Fact Section Styles 
  =========================*/

.counter {
  margin: 0;
  padding: 0;
}

.counter span {
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
  color: white;
}

.counter p {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-top: 20px;
}

.counter-box {
  background-image: url(../images/counter/counter-bg.png);
  text-align: center;
  margin-bottom: 84px;
}

.counter-div {
  padding: 80px 160px;
}

/*===================
   Category Styles 
  ===================*/

.course-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 47px 15px 46px 40px;
}

.categoty-div {
  border: 1px solid #ececec;
  border-radius: 5px;
  margin: 26px 0;
}

.lessons span {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #787c8b;
  margin-left: 10px;
}

.categoty-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #1d1d1d;
}

.categoty-div .card-body {
  margin-top: 36px;
  margin-bottom: 45px;
}

/*===================
   Company Styles 
  ===================*/

.company {
  display: flex;
  justify-content: space-between;
}

.company img {
  width: auto;
}

/*===================
   Instructor Styles 
  ===================*/

.paragraph-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #505050;
}

.offer .press-btn,
.instructor .press-btn {
  display: inline-block;
  color: white;
  background-color: #49d2af;
  padding: 17px 26px;
  border-radius: 27.5px;
  margin-top: 40px;
}
.offer .press-btn:hover,
.instructor .press-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(73, 210, 175, 0.25);
}

.press-btn p {
  letter-spacing: 0.015em;
  line-height: 20px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

ul.point-order {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.point-order li {
  position: relative;
  padding-left: 11px;
  line-height: 38px;
}

/*====================
   Testimonial Styles 
  ====================*/

/*====================
  Newsletter Styles 
====================*/
.newsletter {
  background-image: url(../images/newsletter/newsletter-bg.png);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 74px 0px;
  border-radius: 10px;
}
.newsletter h5 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

/* Newsletter Form */

.newsletter-form {
  position: relative;
  width: 40%;
}

.newsletter-form .form-group {
  position: relative;
  display: block;
  margin-bottom: 0;
}

.newsletter-form .form-group input[type="text"] {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.015em;
  color: #a0a4b4;
  padding: 35px 42px;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 15px 30px 0 rgba(69, 83, 193, 0.35);
  border-radius: 35px;
  border: 0;
}

.subscribe-btn {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 7px;
  top: 9px;
  border-radius: 27.5px;
  color: white;
  background-color: #6f7df0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.015em;
  padding: 17px 30px;
  border: 0;
}

/*====================
  Courses Styles 
====================*/

.tag {
  display: inline-block;
}
.tag-btn {
  background-color: white;
  color: #3c3a32;
  padding: 13px 35px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 30px 16px 29px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #e8e9f1;
}

.tag-btn:hover {
  background-color: #6f7df0;
  color: white;
}

.explore-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
}

.explore-btn-div .explore-btn {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #ff7b66;
  padding: 18px 35px;
  border-radius: 27.5px;
}

.explore-btn p {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  letter-spacing: 0.015em;
}

.explore-btn:hover {
  box-shadow: 0px 10px 30px 0 #ffccc4;
}

.course-info {
  padding: 20px 0 0 22px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.course-rate {
  color: #1d1d1d;
  margin-right: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.015em;
}

.course-star {
  width: 11px;
  color: #ffa800;
  margin-right: 2px;
}

.course-rating {
  margin-left: 5px;
  color: #c4c4c4;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.015em;
}

.course-author {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #787c8b;
}

.top-course-info .course-price {
  margin-right: 0;
}

.lower-info {
  display: flex;
  padding: 10px 0;
}
.card {
  width: 18rem;
  height: 383px;
  border: 1px solid #ececec;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.free {
  color: #ff7b66;
  text-transform: uppercase;
}
