/*===================
   Custom CSS Styles 
  ===================*/

.heading-text {
  color: white;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
}
.pre-heading {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: white;
  background-color: #07847f;
  padding: 17px 13px 0 13px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.banner-btn {
  background-color: #fe7f4c;
  color: white;
  padding: 20px 45px;
  margin-right: 29px;
}
.banner-anchor {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-decoration: underline;
  padding: 20px 0;
}

.banner-img {
  position: absolute;
  width: 100%;
  /* height: 700px; */
  top: 188px;
  /* padding-top: 218px; */
  /* bottom: 0; */
}

.paragraph-text {
  color: #677788;
}

.banner-bg {
  background-image: url(../images/banner/banner-bg.png);
}

.banner-img-padding {
  padding-top: 51px;
}
.banner-content-padding {
  padding-top: 111px;
}

.service-bg {
  background-image: url("../assets/bg/providing-bg.png");
}
