/*===================
   Banner Styles 
  ===================*/

.heading-text {
  color: white;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0.015em;
}
.pre-heading {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: white;
  background-color: #07847f;
  padding: 17px 13px 0 13px;
  border-radius: 5px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.banner-btn {
  background-color: #fe7f4c;
  color: white;
  padding: 20px 45px;
  margin-right: 29px;
}
.banner-anchor {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-decoration: underline;
  padding: 20px 0;
}

.banner-img {
  height: 100%;
  margin-top: 218px;
}

.paragraph-text {
  color: #677788;
}

.banner-bg {
  background-image: url(../images/banner/banner-bg.png);
}

.banner-content {
  padding: 168px 0;
}

/*===================
   Course Styles 
  ===================*/

.course-separator {
  background-image: url(../images/category/course-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 47px;
  border-radius: 10px;
}
.course-separator h5 {
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-right: 5px;
  /* line-height: 36px; */
}

.course-separator .start-btn {
  color: #49d2af;
  background-color: white;
  padding: 20px 38px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.start-btn p {
  letter-spacing: 0.015em;
  line-height: 20px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.top-course {
  text-align: center;
  margin-bottom: 30px;
}

.top-course span {
  display: inline-block;
  padding: 5px 17px;
  background-color: #ff7b66;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.055em;
  border-radius: 2px;
  margin-bottom: 20px;
}
.top-course h2 {
  color: #1d1d1d;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
}

.paragraph-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #505050;
}

.course-div {
  padding: 30px 58px 40px 40px;
  border-radius: 10px;
  margin: 0 30px 29px 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.course-div,
.categoty-div:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.course-tag {
  margin-bottom: 8px;
}

.course-tag span {
  font-weight: 700;
  font-size: 12px;
  line-height: 34px;
  margin-right: 10px;
  border-radius: 2px;
}

.web {
  color: #4ad3b0;
  background-color: #edfbf7;
  padding: 4px 15px;
}

.html {
  color: #ff7b66;
  background-color: #fff2f0;
  padding: 4px 13px;
}

.card-title {
  margin-bottom: 15px;
  color: #1d1d1d;
}

.card-title:hover {
  color: #6e7cef;
}
.course-div .card-body {
  margin-left: 30px;
}

.course-img {
  width: 100%;
}

.course-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-price {
  color: #6f7df0;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  margin-right: 28px;
}
.star {
  width: 14px;
  color: #ffc014;
  margin-right: 2px;
}

.course-rating {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #9795a9;
}

.counter {
  margin: 0;
  padding: 0;
}

.counter span {
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
  color: white;
}

.counter p {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-top: 20px;
}

.counter-box {
  background-image: url(../images/counter/counter-bg.png);
  text-align: center;
  margin-bottom: 84px;
}

.counter-div {
  padding: 80px 160px;
}

.course-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 47px 15px 46px 40px;
}

.categoty-div {
  border: 1px solid #ececec;
  border-radius: 5px;
  margin: 0 30px 29px 0;
}

.lessons {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #787c8b;
  margin-left: 10px;
}

.categoty-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #1d1d1d;
}

.categoty-div .card-body {
  margin-top: 36px;
  margin-bottom: 45px;
}
